includes:
    - ../../.phpstan/extension.neon

parameters:
    level: 6
    paths:
        - src/
        - tests/
    ignoreErrors:
        -
            message: "#^Method .*::test.*\\(\\) has no return type specified\\.$#"
        -
            identifier: missingType.iterableValue
            path: tests/*
        -
            message: '#\\AuthorizationCheckerInterface::isGranted\(\) invoked with 3 parameters, 1-2 required#'
            path: src/*
            reportUnmatched: false # only needed for Symfony <= 7.4 versions
        -
            message: '#method_exists\(\) with Symfony\\Component\\Security\\Core\\Exception\\AccessDeniedException and ''setAccessDecision'' will always evaluate to true#'
            path: src/*
            reportUnmatched: false # only needed for Symfony < 7.3 versions
        -
            identifier: empty.notAllowed
            path: config/options.php
