includes:
    - ../../.phpstan/extension.neon

parameters:
    level: 6
    paths:
        - src/
        - tests/
    ignoreErrors:
        -
            identifier: missingType.iterableValue
            path: tests/*
        -
            message: "#^Method .*::test.*\\(\\) has no return type specified\\.$#"
            reportUnmatched: false # we don't have tests yet
