parameters:
    customRulesetUsed: true

services:
    -
        class: PHPStan\Rules\DisallowedConstructs\DisallowedEmptyRule
        tags:
            - phpstan.rules.rule
    -
        class: Symfony\AI\PHPStan\ForbidDeclareStrictTypesRule
        tags:
            - phpstan.rules.rule
    -
        class: Symfony\AI\PHPStan\ForbidNativeExceptionRule
        tags:
            - phpstan.rules.rule
    -
        class: Symfony\AI\PHPStan\ForbidTestCoverageAttributesRule
        tags:
            - phpstan.rules.rule
