includes:
    - ../../.phpstan/extension.neon

parameters:
    level: 6
    paths:
        - src/
        - tests/
    excludePaths:
        - src/Bridge/*/vendor/
    ignoreErrors:
        -
            message: "#^Method .*::test.*\\(\\) has no return type specified\\.$#"
        -
            identifier: missingType.iterableValue
            path: tests/*
        -
            identifier: 'symfonyAi.forbidNativeException'
            path: tests/*
