parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        -
            message: "#^Method .*::test.*\\(\\) has no return type specified\\.$#"
