includes:
    - ../../.phpstan/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 6
    paths:
        - src/
        - tests/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: "#^Method .*::test.*\\(\\) has no return type specified\\.$#"
        -
            message: '#supportsNormalization\(\) has parameter \$context with no value type specified in iterable type array#'
            path: src/*
            reportUnmatched: false # only needed for older Symfony versions
        -
            message: '#getSupportedTypes\(\) return type has no value type specified in iterable type array#'
            path: src/*
            reportUnmatched: false # only needed for older Symfony versions
        -
            identifier: missingType.iterableValue
            path: tests/*
