.audio {
    body&, .card-img-top {
        background: #df662f;
        background: linear-gradient(0deg, #df662f 0%, #a80a1d 100%);
    }

    .card-img-top {
        color: #ffffff;
    }

    &.chat {
        .user-message {
            background: #df662f;
            color: #ffffff;

            #loading-message & {
                color: rgba(255, 255, 255, 0.7);
            }
        }

        .bot-message {
            color: #ffffff;
            background: #215d9a;

            &.loading {
                color: rgba(255, 255, 255, 0.5);
            }

            a {
                color: #c8d8ef;

                &:hover {
                    color: #ffffff;
                }
            }

            code {
                color: #ffb1ca;
            }
        }

        .avatar {
            &.bot {
                outline: 1px solid #c0dbf4;
                background: #c0dbf4;
            }

            &.user {
                outline: 1px solid #f3b396;
                background: #f3b396;
            }
        }

        #welcome h4 {
            color: #2c5282;
        }

        #chat-reset, #chat-submit {
            &:hover {
                background: #a80a1d;
                border-color: #a80a1d;
            }
        }
    }

    footer {
        color: #ffffff;

        a {
            color: #ffffff;
        }
    }
}
