.recipe {
    body&, .card-img-top {
        background: rgb(34,34,34);
        background: linear-gradient(0deg, rgb(131, 166, 89) 0%, rgb(113, 188, 184) 100%);
    }

    .card-img-top {
        color: #253724;
    }

    &.chat {
        .user-message {
            background: #3e2926;
            color: #fafafa;
        }

        #welcome h4 {
            color: #253724;
        }

        #chat-reset, #chat-submit {
            &:hover {
                background: rgba(48, 158, 29, 0.65);
                border-color: rgba(48, 158, 29, 0.65);
            }
        }
    }
}
